@import '../../styles/vars.scss';

header {
  display: flex;
  justify-content: space-between;
}

nav ul{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

li button {
  color: $yellow;
  background: black;
}

.logo {
  background: $yellow;
  padding: 4px;
  border-radius: 2px;
  font-weight: bolder;
}

.welcome {
  color: white;
}